<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Demo - search</title>
    
    <link rel="stylesheet" href="css/layout.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>

</head>
<body ng-app="searchApp" ng-controller="searchController">
    
    <div class="searchby">
        <span class="searchtext">Sök efter</span>
        <input type="search" placeholder="Sök..." ng-model="searchText">
    </div>


    <table>
        <thead>
            <tr>
                <th>Tillverkare</th>
                <th>Produkt</th>
                <th>Kategori</th>
                <th>Beskrivning</th>
                <th>Pris</th>
                <th class="center-text">Antal i lager</th>
                <th>Senast kontrollerat</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products | filter: searchText">
                <td>{{ product.vendor }}</td>
                <td>{{ product.productname }}</td>
                <td>{{ product.category | uppercase }}</td>
                <td>{{ product.shortdescription }}</td>
                <td>{{ product.price | currency: "" }}</td>
                <td class="center-text">{{ product.instock | number }}</td>
                <td>{{ product.instockdate | date: "yyyy-MM-dd" }}</td>
            </tr>
        </tbody>
    </table>

    <script>
    
        var app = angular.module("searchApp", []);
        app.controller("searchController", function($scope) {

            var products = [
                { vendor: "Apple", productname: "iPhone 7", category: "Mobiltelefon", shortdescription: "32GB Svart", price: 4299 , instock : 100, instockdate: new Date("2019-03-05")  },
                { vendor: "HP", productname: "Probook 640", category: "Bärbar dator", shortdescription: "Core i5 8GB 256GB SSD 14 tum", price: 6799 , instock : 100, instockdate: new Date("2019-03-04")  },
                { vendor: "Voxicon", productname: "D27QO IPS", category: "Bildskärm", shortdescription: "27tum 2560 x 1440 16:9", price: 1595 , instock : 23, instockdate: new Date("2019-03-01")  },
                { vendor: "Dell", productname: "UltraSharp U2417H Infinity", category: "Bildskärm", shortdescription: "23.8tum 1920 x 1080 16:9", price: 1899 , instock : 49, instockdate: new Date("2019-03-02")  },
                { vendor: "HP", productname: "250 G6", category: "Bärbar dator", shortdescription: "Core i5 8GB 256GB SSD 15.6tum", price: 4599 , instock : 1, instockdate: new Date("2019-03-02")  },
                { vendor: "Logitech", productname: "MX Master for Business", category: "Möss & tangentbord", shortdescription: "Laser 1600dpi Mus Svart", price: 100 , instock : 0, instockdate: new Date("2019-03-01")  },
                { vendor: "Lenovo", productname: "ThinkCentre M710q Tiny", category: "Stationära datorer", shortdescription: "Core i5 8GB 256GB SSD", price: 4799 , instock : 0, instockdate: new Date("2019-03-04")  },
                { vendor: "Apple", productname: "iPhone 8 (Ej DEP)", category: "Mobiltelefon", shortdescription: "64GB Rymdgrå", price: 5599 , instock :44, instockdate: new Date("2019-03-02")  },
                { vendor: "Intel", productname: "Core i9 9900K", category: "Processorer", shortdescription: "3.6GHz LGA1151 Socket", price: 4899 , instock : 99, instockdate: new Date("2019-03-05")  },
                { vendor: "Logitech", productname: "MX Master 2S", category: "Möss & tangentbord", shortdescription: "Laser 4000dpi Mus Grå", price: 899 , instock : 100, instockdate: new Date("2019-03-01")  }
            ];

            $scope.products = products;

        });
    
    </script>


</body>
</html>