body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid #666666;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    
}

.pointer {
    cursor: pointer;
}

td {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.center-text {
    text-align: center;
}

.up-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block; 
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block; 
}